node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
app/scripts/tinder.json
app/scripts/hacks.json
app/scripts/2tinder.json
app/scripts/newTinder.json
app/scripts/nodeTime.js
app/scripts/toTinder.json
app/scripts/3tinder.json
app/scripts/4tinder.json
